*.pyc
input/*
output/*
src/test.py
.vscode/launch.json
exp
SF/model.yml.gz
src/SF/model.yml.gz
src/HED/pretrained/network-bsds500.pytorch
src/RCF/pretrained/RCFcheckpoint_epoch12.pth
src/RCF/pretrained/vgg16convs.mat
data